[submodule "user/lib/fastfetch"]
	path = user/lib/fastfetch
	url = https://github.com/fastfetch-cli/fastfetch
[submodule "user/lib/newlib-cygwin"]
	path = user/lib/newlib-cygwin
	url = https://sourceware.org/git/newlib-cygwin.git
[submodule "user/lib/pixman"]
	path = user/lib/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "user/lib/zlib"]
	path = user/lib/zlib
	url = https://github.com/madler/zlib.git

[submodule "user/lib/libtsm"]
	path = user/lib/libtsm
	url = https://github.com/Aetf/libtsm

[submodule "user/lib/lwip"]
	path = user/lib/lwip
	url = https://github.com/lwip-tcpip/lwip.git

[submodule "user/lib/lodepng"]
	path = user/lib/lodepng
	url = https://github.com/lvandeve/lodepng.git

[submodule "user/lib/doomgeneric"]
	path = user/lib/doomgeneric
	url = https://github.com/ozkl/doomgeneric.git

[submodule "user/lib/uACPI"]
	path = user/lib/uACPI
	url = https://github.com/uacpi/uacpi.git

